<mat-toolbar class="fix-nav">
  <mat-toolbar-row class="menu">
    <div class="nav-brand">
      <img id="logo" src="./assets/images/logo.png">
    </div>
    <span class="nav-spacer"></span>
    <div class="logout">
      {{user}}
      <mat-icon matTooltip="Mi Cuenta" [matTooltipShowDelay]="1000">account_circle</mat-icon>
      <mat-icon matTooltip="Cerrar Sesión" [matTooltipShowDelay]="1000" (click)="onLoggedout()">exit_to_app</mat-icon>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
