:host {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}
.nav-brand {
  width: 215px;
}
.topnav-icon {
  text-decoration: none;
  display: flex;
  color: #fff;
}

.nav-spacer {
  flex: 1 1 auto;
}

.visible-md {
  display: none;
}
.visible-sm {
  display: none;
}
@media screen and (max-width: 992px) {
  .visible-md {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .visible-sm {
    display: block;
  }
  .nav-brand {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .hidden-sm {
    display: none;
  }
}

.mat-toolbar.mat-primary {
  height : 162px;
}

.menu{
  height      : 110px;
  background  : #FFD000;
  color       : #343741;
  padding     : 0 10% 0 10%;
}

.submenu{
  height      : 52px;
  background  : #1A1446;
  color       : #FFFFFF;
  font-size   : 14px;
  padding     : 0 10% 0 10%;
}

mat-icon {
  margin-left: 4px;
}

.logout {
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center
}

.mat-icon {
  font-size: 30px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

#logo {
  width: 50%;
}
