table {
  width: 100%;
}
.mat-card {
  text-align: center;
  min-height: 100px;
  background-color: #F5F5F5;
}
.mat-table {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.mb-20 {
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  width: 100%;
}

.mat-card-header{
  justify-content: center;
}

.mat-card-content{
  font-size   : 35px;
  color       : #1A1446;
}

.chart-text-center{
  position    : absolute;
  top         : 58%;
  left        : 50%;
  transform   : translate(-50%, -50%);
  font-size   : 20px;
}

.mat-spinner {
  position: relative;
  margin-left: 50%;
}

.select{
  width: 35%;
}

.mat-card-title{
  font-size   : 16px;
  color       : #1A1446;
}

.mat-card-subtitle{
  font-size   : 13px;
  color       :#C0BFC0;
}
