<!--<app-notifications-->
    <!--[notification] = "notification">-->
<!--</app-notifications>-->
<!--&lt;!&ndash;<mat-progress-bar *ngIf="loadingDashboard" mode="indeterminate"></mat-progress-bar>&ndash;&gt;-->
<div style="padding: 0 10% 0 10%">
  <br><br>
  Pagina Principal
  <!--
  <app-selector-line-product
    (questionsChange)="loadQuestion($event)"
    (categoriesChange)="loadCategories($event)"
    (lineAndProdChange)="loadCodLineAndProd($event)">
  </app-selector-line-product>
  <br>
  <app-dynamic-form
    [questions]="questions"
    [categories]="categories"
    [lineAndProd]="lineAndProd">
  </app-dynamic-form>
  <br>
  -->
</div>
