//NOTIFICATION
.notification{
    position:       relative;
    font-family:    sans-serif;
    color:          #FFFFFF;
    padding:        1rem;
    margin-bottom:  1rem;
    border:         1px solid transparent;
    border-radius:  0.25rem;
    opacity:        1;
    transition:     opacity 0.6s;
}

.closebtn {
    margin-left:    15px;
    color:        white;
    font-weight:    bold;
    float:          right;
    font-size:      22px;
    line-height:    20px;
    cursor:         pointer;
    transition:     0.3s;
}

.closebtn:hover {
    color: black;
}

//BACKGROUND COLOR
.bg-success{
    background-color: #28A745 !important;//#4CAF50;
    
}

.bg-danger{
    background-color: #f44336;
}

.bg-warning{
    background-color: #ff9800;
}

.bg-info{
    background-color: #17A2B8 !important;
}

.material-icons{
    margin:         0 1rem 0 0;
    padding:        0;
    float:          left;
    font-size:      30px;
    line-height:    0.75rem;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }