html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto';
}

.main-container {
    position: relative;
    top: 64px;
    right: 0;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

button.mat-raised-button {
    background-color: #FFD000;
}

.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element,
.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple) {
  background-color: #3f51b5;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #3f51b5;
}

mat-radio-group.invalid.ng-pristine .mat-radio-outer-circle,
div.invalid.ng-pristine .mat-checkbox-frame{
  border-color: red;
}

mat-radio-group.invalid.ng-pristine .mat-radio-label-content,
div.invalid.ng-pristine .mat-checkbox-label {
  color: red;
}
