@media screen and (max-width: 992px) {
    .main-container {
        left: 0px;
    }

    #logo {
        max-width: 107.5px;
    }
}

@media screen and (max-width: 992px) {
    .push-right {
        #sidebar {
            left: 0 !important;
        }
    }
}

@media screen and (max-width: 736px) {

    .mat-step-header div.mat-step-label {
        display: none;
    }
    
    .mat-step-header[aria-selected=true] div.mat-step-label {
        display: block;
        white-space: normal;
        overflow: unset;
        text-overflow: unset;
    }

    #primas {
        width: 382px !important;
        margin: 0 auto;
        display: block;
    }

    #porcentajes {
        width: 275px !important;
        margin: 0 auto;
        display: block;
        margin-top: 20px;
    }

    #porcentajes td {
        padding-right: 0px;
        padding-left: 0px;
    }

    #logo {
        max-width: 107.5px;
    }

}

@media screen and (max-width: 510px) {
    .reset {
        margin-top: 20px !important;
    }
}

@media screen and (max-width: 414px) {
    #logo {
        width: 80% !important;
    }
}
