<router-outlet></router-outlet>
<!--<div>-->
  <!--<h2>Cotizador Generico</h2>-->
  <!--<app-selector-line-product (questionsChange)="loadQuestion($event)"></app-selector-line-product>-->
  <!--<br>-->
  <!--<app-dynamic-form [questions]="questions"></app-dynamic-form>-->
  <!--<br>-->
<!--</div>-->


