.login-container {
  width: 100%;
  height: 100%;
  background-color: #FFD000;
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
}

mat-card-title {
  text-align: center;
}

mat-form-field {
  width: 100%;
  max-width: 100%;
}

button.mat-raised-button {
  color: black;
  background-color: #FFD000;
  width: 100%;
}

.opt {
  margin: 20px 0 30px 0;
}

.opt div{
  display: inline-block;
  width: 50%;
}

.link {
  text-align: right;
}
