<h1 mat-dialog-title class="dialog-title"> {{data.title}}</h1>
<div mat-dialog-content>
  <p *ngIf="data.message1">{{data.message1}}</p>
  <p *ngIf="data.message2">{{data.message2}}</p>
</div>
<div mat-dialog-actions>
  <button mat-raised-button class="button" [mat-dialog-close]="false">{{data.button1}}</button>
  <button mat-raised-button class="button" [mat-dialog-close]="true" color="primary">{{data.button2}}</button>
</div>